build/
/softcpu
*.o
*.obj
*.exe
*.log
*.aux
*.out
*.toc
*.pdfsync
*.synctex.gz
report/softcpu_report.log
report/softcpu_report.aux
report/softcpu_report.out
report/softcpu_report.toc
assets/video_frames/
__pycache__/
